<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AraturkaMaster.Properties.Settings.searcher_dbConnectionString"
            connectionString="Data Source=10.10.10.4;Initial Catalog=searcher_db;Persist Security Info=True;User ID=SA;Password=secretSQL."
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>